@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: inherit;
    cursor: pointer;
}
.body {
    margin: 0 auto;
    height: auto;
}
.header {
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    height: 101px;
    background: #d9d9d9;
}

.nav {
    width: 203px;
    height: auto;
    background: #d9d9d9;
}
.main {
    margin: 40px auto 0;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 86px;
}
.block-one {
}

.container {
    max-width: 1022px;
    display: flex;
    flex-wrap: wrap;

    &__box {
        width: 487px;
        height: 61px;
        background: #d9d9d9;
        margin-bottom: 30px;
        &:nth-child(n + 7) {
            margin-bottom: 0px;
        }
        &:nth-child(odd) {
            margin-right: 48px;
        }
    }
}

.block-big {
    margin-top: 40px;
    width: 100%;
    max-width: 1022px;
    height: 168px;
    background: #d9d9d9;
}
.block-two {
}
.menu {
    position: relative;
    border-top: #d9d9d9 3px solid;
    margin-top: 40px;
    display: flex;
    align-items: center;
    // .menu__comments

    &__comment {
        margin-top: 20px;
        margin-right: 55px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        text-decoration-line: underline;
    }

    // .menu__sorting

    &__sorting {
        margin-top: 20px;
        margin-right: 50px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #000000;
        opacity: 0.4;
        cursor: pointer;

        &__img {
            width: 13px;
            height: 13px;
            text-align: center;
        }
    }

    // .menu__favorites

    &__favorites {
        margin-top: 20px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration-line: underline;
        color: #000000;
        opacity: 0.4;
        &__img {
            width: 16px;
            height: 16px;
            text-align: center;
        }
    }
}
.rating-block {
    display: none;
    flex-direction: column;
    gap: 5px;
    min-width: 300px;
    height: 108px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 8px 0 0 0;
    position: absolute;
    left: 190px;
    top: 50px;

    // .rating-block__item

    &__item {
        display: flex;
        padding-left: 30px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        opacity: 0.4;
        cursor: pointer;
    }

    // .rating-block__item-image

    &__item-image {
        margin-left: 8px;
        margin-right: 7px;
        display: none;
    }
}

.active {
    display: block;
}
.active-item {
    margin: 0;
    padding-left: 0;
}
.active-menu {
    display: flex;
} 

.new-comments {
    margin-top: 32px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: min-content max-content min-content;
    grid-template-areas:
        "A B C . ."
        "A D D D D"
        "A E E E E";
    // .new-comments__image

    &__image {
        grid-area: A;
        margin-right: 30px;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    // .new-comments__title

    &__name {
        grid-area: B;
        margin-bottom: 15px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #122ac0;
    }

    // .new-comments__amount

    &__amount {
        margin-left: 378px;
        grid-area: C;
        font-family: "Inter";
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        opacity: 0.4;
    }

    // .new-comments__form

    &__form {
        grid-area: D;
        display: flex;
    }

    //.new-comments__form-input

    &__form-input {
        padding: 14px 10px 0 10px;
        width: 688px;
        min-height: 61px;
        background: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        resize: none;
        &::placeholder {
            opacity: 0.4;
        }
    }

    // .new-comments__form-button

    &__form-button {
        margin: 0 0 0 30px;
        width: 213px;
        height: 61px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        background: #a2a2a2;
        border-radius: 5px;
    }
}


.comment {
    margin-top: 40px;
    max-width: 1022px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: min-content max-content min-content;
    grid-template-areas:
        "A B C . ."
        "A D D D D"
        "A E E E E";

    // .comment__image

    &__image {
        margin-right: 30px;
        grid-area: A;
        width: 59px;
        height: 59px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    // .comment__signature-name

    &__signature-name {
        margin-right: 15px;
        grid-area: B;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #122ac0;
    }

    // .comment__signature-date

    &__signature-date {
        margin-top: 5px;
        grid-area: C;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.4;
    }

    // .comment__text

    &__text {
        margin-top: 10px;
        grid-area: D;
        width: 916px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    // .comment__panel

    &__panel {
        grid-area: E;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }

    // .comment__panel-answer

    &__panel-answer {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-right: 19px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.4;
    }

    // .comment__panel-favorites

    &__panel-favorites {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-right: 30px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.4;
    }

    // .comment__favorite-button

    &__favorite-button {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .comment__favorite-button-minus

    &__favorite-button-minus {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    // .comment__favorite-button-number

    &__favorite-button-number {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #8ac540;
    }

    // .comment__favorite-button-plus

    &__favorite-button-plus {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.answer {
    margin: 30px 0 0 90px;
    width: 916px;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: min-content max-content min-content;
    grid-template-areas:
        "A B C D ."
        "A E E E E"
        "A F F F F";
    // .answer__image

    &__image {
        grid-area: A;
        width: 59px;
        height: 59px;
        margin-right: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    // .answer__name

    &__name {
        grid-area: B;
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #122ac0;
    }

    //.answer__name-comment

    &__name-comment {
        grid-area: C;
        margin: 0 15px 0 13px;
        display: flex;
        gap: 15px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.4;
    }

    // .answer__date

    &__date {
        grid-area: D;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.4;
    }

    // .answer__text

    &__text {
        margin: 10px 0 0 0;
        grid-area: E;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    // .answer__panel

    &__panel {
        grid-area: F;

        margin-top: 15px;
        display: flex;
        align-items: center;
    }

    // .comment__panel-favorites

    &__panel-favorites {
        display: flex;
        align-items: center;
        gap: 3px;
        margin-right: 30px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        opacity: 0.4;
    }

    // .comment__favorite-button

    &__favorite-button {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    // .comment__favorite-button-minus

    &__favorite-button-minus {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    // .comment__favorite-button-number

    &__favorite-button-number {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #8ac540;
    }

    // .comment__favorite-button-plus

    &__favorite-button-plus {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}


@media screen and (max-width: 768px) {  
    .body {
        width: 100vw;
    }
    .header {
        height: 68px;
    }
    .main {
        width: 100vw;
    }
    .nav {
        display: none;
    }
    .block-one {
        width: 100vw;
    }
    .container {

        width: 100vw;
    
            // .container__box
    
            &__box {
                margin: 0 auto 20px;
                width: 94%;
                height: 61px;
                &:nth-child(n+3){
                    display: none;
                }
                &:nth-child(odd) {
                    margin: 0 auto 20px ;
                }
            }
    }
    .block-big {
        margin: 0 auto;
        width: 94%;
        height: 132px;
    }
    .block-two {
    }
    .menu {
    
            // .menu__comment
    
            &__comment {
            }
    
            // .menu__sorting
    
            &__sorting {
            }
    
            // .menu__rating
    
            &__rating {
            }
    
            // .menu__favorites
    
            &__favorites {
            }
    }
    .rating-block {
    }
    .new-comments {
    
            // .new-comments__image
    
            &__image {
            }
    
            // .new-comments__name
    
            &__name {
            }
    
            // .new-comments__amount
    
            &__amount {
            }
    
            // .new-comments__form
    
            &__form {
            }
    
            // .new-comments__form-input
    
            &__form-input {
            }
    
            // .new-comments__form-button
    
            &__form-button {
            }
    }
    .comment {
    
            // .comment__image
    
            &__image {
            }
    
            // .comment__signature-name
    
            &__signature-name {
            }
    
            // .comment__signature-date
    
            &__signature-date {
            }
    
            // .comment__text
    
            &__text {
            }
    
            // .comment__panel
    
            &__panel {
            }
    
            // .comment__panel-answer
    
            &__panel-answer {
            }
    
            // .comment__panel-favorites
    
            &__panel-favorites {
            }
    
            // .comment__favorite-button
    
            &__favorite-button {
            }
    
            // .comment__favorite-button-minus
    
            &__favorite-button-minus {
            }
    
            // .comment__favorite-button-number
    
            &__favorite-button-number {
            }
    
            // .comment__favorite-button-plus
    
            &__favorite-button-plus {
            }
    }
    .answer {
    
            // .answer__image
    
            &__image {
            }
    
            // .answer__name
    
            &__name {
            }
    
            // .answer__name-comment
    
            &__name-comment {
            }
    
            // .answer__date
    
            &__date {
            }
    
            // .answer__text
    
            &__text {
            }
    
            // .answer__panel
    
            &__panel {
            }
    
            // .answer__panel-favorites
    
            &__panel-favorites {
            }
    
            // .answer__favorite-button
    
            &__favorite-button {
            }
    
            // .answer__favorite-button-minus
    
            &__favorite-button-minus {
            }
    
            // .answer__favorite-button-number
    
            &__favorite-button-number {
            }
    
            // .answer__favorite-button-plus
    
            &__favorite-button-plus {
            }
    }
    
}